# Senhas
credenciais-cripto.key

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache

# Arquivos Sensíveis
.vscode

# Distribuição / packaging / PyInstaller
build/
dist

# Ambientes / envs
.env
.venv

# Docker
*.log
