# Senhas
*.key
*.crypto

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pyc
.pytest_cache

# Arquivos Sensíveis
.vscode

# Distribuição / packaging / PyInstaller
build
dist
update
release

# Ambientes / envs
.env
.venv

# Docker
*.log
