# Senhas
credenciais-cripto.key

# Chrome for Testing
chrome.exe

# Mensagem de texto teste
texto.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache

# Arquivos Sensíveis
update
data/planilhas/*.xlsx
.vscode
python-embedded

# Distribuição / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest

# Ambientes / envs
.env
.venv

# Docker
*.log
